<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../static/css/main_style.css">
	<script src="../static/js/main_index.js"></script>     <!-- 아직 적용이 안 됨. 추후에 다시 적용되도록 해야 할 듯 -->
</head>
<body>
	<div class="checkbox-group-legend"><a href={{ url_for('index') }}>Covid-19 Data</a></div>
	<div class="boxes">
		<a href={{ url_for('consumption') }} class="box">소비</a>
		<a href={{ url_for('culture') }} class="box">문화</a>
		<a href={{ url_for('living') }} class="box">생활</a>
		<a href={{ url_for('metro') }} class="box">교통</a>
	</div>
</body>
</html>