* {
    margin: 0;
    padding: 0;
}

header h1 {
    display: block;
    position: absolute;
    top: 30px;
    left: 50px;
}

#search-box {
    position: absolute;
    width: 444px;
    height: 24px;
    padding: 10px 0px;
    display: block;
    margin-top: 60px;
    margin-left: 250px;
}