* {
    margin: 0;
    padding: 0;
}

header h1 {
    display: block;
    position: absolute;
    left: 20px;
}

#search-box {
    position: absolute;
    width: 444px;
    height: 24px;
    padding: 10px 0px;
    display: block;
    margin-top: 40px;
    margin-left: 200px;
}